.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #d3daf7;
}
.contact-container1 {
  width: 100%;
  display: flex;
  padding: 100px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contact-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
.contact-text {
  text-align: center;
}
.contact-container3 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-primary);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.contact-container4 {
  display: flex;
  padding: 30px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-grays-white100);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contact-form {
  width: 100%;
  display: flex;
  padding: 10px;
  align-self: center;
  flex-direction: column;
}
.contact-recapcha {
  align-self: center;
}
.contact-button {
  color: var(--dl-color-grays-white100);
  font-size: 24px;
  align-self: center;
  font-style: normal;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  border-radius: 16px;
  margin-bottom: 30px;
  background-color: var(--dl-color-backgrounds-darkblue);
}
.contact-text05 {
  font-size: 1.5em;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-text06 {
  height: 400px;
  padding: 20px;
  font-size: 22px;
  overflow-y: scroll;
  text-align: left;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-grays-gray40);
}
@media(max-width: 991px) {
  .contact-container1 {
    padding: 50px;
  }
}
@media(max-width: 767px) {
  .contact-container4 {
    padding: 10px;
  }
}
@media(max-width: 479px) {
  .contact-container1 {
    padding: var(--dl-space-space-halfunit);
    min-width: 360px;
  }
  .contact-container4 {
    padding: 5px;
  }
}
