.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-max-width {
  align-items: center;
  justify-content: space-between;
}
.home-content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  width: auto;
  margin-bottom: 42px;
}
.home-text01 {
  font-size: 50px;
}
.home-text02 {
  font-size: 52px;
}
.home-text03 {
  font-size: 50px;
}
.home-text04 {
  font-size: 52px;
}
.home-text05 {
  font-size: 50px;
}
.home-text06 {
  font-size: 52px;
}
.home-navlink {
  color: var(--dl-color-grays-white100);
  padding-top: 16px;
  padding-left: 24px;
  border-radius: 20px;
  margin-bottom: 42px;
  padding-right: 24px;
  padding-bottom: 16px;
  text-decoration: none;
  background-color: var(--dl-color-grays-dark100);
}
.home-features-container {
  flex: 0 0 auto;
  height: 154px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-feature {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon {
  fill: #202020;
  width: 20px;
  height: 20x;
  min-width: 17px;
  margin-right: 12px;
}
.home-text07 {
  color: var(--dl-color-grays-gray60);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.home-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon02 {
  fill: #202020;
  width: 20px;
  height: 20px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text08 {
  color: var(--dl-color-grays-gray60);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.home-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon04 {
  fill: #202020;
  width: 20px;
  height: 20px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text09 {
  color: var(--dl-color-grays-gray60);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.home-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  object-fit: cover;
}
.home-section-one {
  padding-top: 68px;
  padding-bottom: 88px;
}
.home-max-width1 {
  flex-direction: column;
}
.home-text13 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text14 {
  color: var(--dl-color-backgrounds-primary);
}
.home-cards-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-card {
  display: flex;
  max-width: 300px;
  align-items: center;
  margin-left: 10px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: 10px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon06 {
  width: 134px;
  height: 83px;
}
.home-text18 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container1 {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text19 {
  color: var(--dl-color-grays-gray100);
  align-self: stretch;
  text-align: center;
  font-family: Times New Roman;
  line-height: 1.5;
}
.home-navlink1 {
  color: var(--dl-color-backgrounds-primary);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  line-height: 1.75;
  text-decoration: none;
}
.home-navlink1:hover {
  text-decoration: underline;
}
.home-card1 {
  display: flex;
  max-width: 300px;
  align-items: center;
  margin-left: 10px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: 10px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon08 {
  width: 134px;
  height: 83px;
}
.home-text22 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text23 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
}
.home-navlink2 {
  color: var(--dl-color-backgrounds-primary);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  line-height: 1.75;
  text-decoration: none;
}
.home-navlink2:hover {
  text-decoration: underline;
}
.home-card2 {
  display: flex;
  max-width: 300px;
  align-items: center;
  margin-left: 10px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-right: 10px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-icon10 {
  width: 134px;
  height: 83px;
}
.home-text27 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container3 {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text28 {
  color: var(--dl-color-grays-gray100);
  align-self: center;
  text-align: center;
}
.home-navlink3 {
  color: var(--dl-color-backgrounds-primary);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  line-height: 1.75;
  text-decoration: none;
}
.home-navlink3:hover {
  text-decoration: underline;
}
.home-max-width2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image1 {
  width: 500px;
  height: 500px;
  max-width: 640px;
  object-fit: cover;
  border-radius: 20px;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-text33 {
  margin-bottom: 24px;
}
.home-text35 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text36 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text37 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text38 {
  color: var(--dl-color-grays-gray100);
  align-self: stretch;
  text-align: justify;
  line-height: 1.5;
}
.home-text39 {
  font-family: Times New Roman;
  line-height: 1.5;
}
.home-section-three {
  position: relative;
}
.home-max-width3 {
  flex-direction: row;
  justify-content: space-between;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-text42 {
  margin-bottom: 24px;
  padding-right: 1px;
}
.home-text46 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text47 {
  color: var(--dl-color-grays-gray100);
  font-size: 20px;
}
.home-image2 {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.home-section4 {
  position: relative;
}
.home-max-width4 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-image3 {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.home-content-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-text48 {
  margin-bottom: 24px;
}
.home-text50 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text51 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text52 {
  color: var(--dl-color-backgrounds-primary);
}
.home-text53 {
  color: var(--dl-color-grays-gray100);
  font-size: 20px;
  align-self: stretch;
  text-align: justify;
  line-height: 1.5;
}
.home-section5 {
  padding: 0px;
}
.home-features {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-text56 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-section7 {
  height: 621px;
  display: none;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  background-color: #202020;
}
.home-max-width5 {
  align-items: stretch;
}
.home-content-container4 {
  flex: 1;
  display: flex;
  min-width: 60%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text59 {
  color: var(--dl-color-grays-white100);
  margin: var(--dl-space-space-halfunit);
  font-size: 42px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  padding-bottom: 20px;
  text-transform: none;
  text-decoration: none;
}
.home-input-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-container5 {
  width: 100%;
  height: 56px;
  display: flex;
  max-width: 376px;
  align-items: center;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-textinput {
  flex: 1;
  color: var(--dl-color-grays-gray40);
  border-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}
.home-button {
  color: #ffffff;
  display: flex;
  transition: 0.3s;
  align-items: center;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
}
.home-button:hover {
  background-color: var(--dl-color-grays-white100);
}
.home-image-container1 {
  flex: 1;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image4 {
  width: 429px;
  height: 490px;
  max-width: 589px;
  min-width: 550px;
  object-fit: contain;
}
@media(max-width: 1200px) {
  .home-text {
    height: auto;
  }
  .home-text01 {
    font-size: 50px;
  }
  .home-text02 {
    font-size: 50px;
  }
  .home-text03 {
    font-size: 50px;
  }
  .home-text04 {
    font-size: 50px;
  }
  .home-text05 {
    font-size: 50px;
  }
  .home-text06 {
    font-size: 52px;
  }
  .home-cards-container {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .home-text {
    width: 100%;
  }
  .home-image {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-image1 {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-text33 {
    width: 100%;
  }
  .home-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text42 {
    width: 100%;
  }
  .home-content-container3 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text48 {
    width: 100%;
  }
  .home-text56 {
    text-align: center;
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-text59 {
    width: 100%;
  }
  .home-image4 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .home-text13 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container {
    flex-direction: row;
  }
  .home-text18 {
    font-size: 18px;
  }
  .home-container1 {
    width: auto;
    height: 200px;
    max-width: 300px;
  }
  .home-text22 {
    font-size: 18px;
  }
  .home-container2 {
    width: auto;
    height: 200px;
    max-width: 300px;
  }
  .home-text27 {
    font-size: 18px;
  }
  .home-container3 {
    width: auto;
    height: 200px;
    max-width: 300px;
  }
  .home-text28 {
    color: var(--dl-color-grays-gray100);
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-image1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-content-container1 {
    max-width: 100%;
  }
  .home-max-width3 {
    flex-direction: column-reverse;
  }
  .home-content-container2 {
    max-width: 100%;
  }
  .home-image2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-image3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-content-container3 {
    max-width: 100%;
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text56 {
    text-align: center;
  }
  .home-container4 {
    flex-direction: column;
  }
  .home-image4 {
    min-width: 100%;
  }
}
@media(max-width: 479px) {
  .home-cards-container {
    flex-direction: column;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-input-container {
    flex-direction: column;
  }
  .home-container5 {
    max-width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
}
