.footer-footer {
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-grays-white100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-max-width {
  justify-content: space-between;
}
.footer-container {
  width: 100%;
  display: flex;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  width: 106px;
  margin-right: 16px;
  text-decoration: none;
}
.footer-container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-grays-gray100);
  width: 250px;
}
.footer-social-media {
  flex: 0 0 auto;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text08 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-icon {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.footer-icon10:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-links {
  flex: 0 0 auto;
  display: flex;
  min-width: 300px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-text09 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  text-decoration: none;
}
.footer-link1 {
  text-decoration: none;
}
.footer-link2 {
  text-decoration: none;
}
.footer-navlink1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer-container1 {
    flex: 1;
    width: 100%;
  }
  .footer-links {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .footer-max-width {
    flex-direction: column;
  }
  .footer-text {
    color: var(--dl-color-grays-gray100);
  }
  .footer-links {
    width: 100%;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
  .footer-text09 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
