.labeled-text-input-container {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
}
.labeled-text-input-container1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.labeled-text-input-label {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-right: 5px;
}
.labeled-text-input-required {
  color: var(--dl-color-backgrounds-red);
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.labeled-text-input-textinput {
  width: 100%;
  padding: var(--dl-space-space-unit);
  font-size: 24px;
}
.labeled-test-error {
  color: var(--dl-color-backgrounds-red);
}