.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-links-link {
  font-size: 20px;
  text-decoration: none;
}
.navigation-links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-links-link1 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-links-link2 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-links-link3 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name10 {
  min-width: 700px;
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .navigation-links-root-class-name10 {
    margin-right: 20px;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name10 {
    display: none;
  }
}
